@font-face {
    font-family: 'R\'lyehian';
    src: url('Rlyehian.woff2') format('woff2'),
        url('Rlyehian.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

